body {
	font-family: 'Poppins', sans-serif;
}
section {
	margin-top: 80px;
}
#top-margin {
	margin-top: 50px;
}
.header-left h1 {
	font-family: 'Yeseva One', cursive;
	font-weight: bold;
	font-style: normal;
	font-size: 60px;
	color: #333333;
	padding-left: 20px;
}
.header-border {
	border-left: 5px solid;
	border-image: linear-gradient(#a5d4ee, #13b8fb);
	border-image-slice: 1;
}
.header-left p {
	margin: 50px 0px;
	padding-right: 19%;
	line-height: 30px;
}
.header-left h4 {
	font-weight: normal;
	margin-top: 30px;
}
.btn-common {
	padding: 10px 40px;
	text-decoration: none;
	background-color: #f59560;
	color: #fff;
	border-radius: 5px;
	font-weight: bold;
}
.flexible-container {
	display: flex;
}
.half-width {
	width: 50%;
	margin-left: 7%;
}
.common-color {
	color: #14bafc !important;
}
.header-right img {
	width: 80%;
}
.mission-area h1 {
	text-align: center;
	font-weight: bold;
	font-size: 48px;
}
.mission-area-box {
	width: 100%;
}
.mission-box {
	margin-left: 7%;
}
.mission-single-box {
	width: 26%;
	border-radius: 15px;
	margin-right: 3%;
	padding: 20px;
}
.mission-single-box p {
	font-weight: 200;
	font-size: 16px;
	line-height: 30px;
	color: #424242;
}
.mission-single-box img {
	width: 30%;
}
#box-bg-color1 {
	background: #a5d4ee61;
}
#box-bg-color2 {
	background: #14b9fc47;
}
#box-bg-color3 {
	background: #02f64226;
}
.develop-area {
	width: 100%;
}
.develop-area-left img {
	width: 80%;
}
.develop-area-right {
	margin-right: 7%;
	margin-top: 50px;
	margin-left: 0px !important;
}
.develop-area-right h1 {
	font-weight: bold;
	color: #333333;
	font-size: 36px;
	line-height: 28px;
}
.develop-area-right p {
	font-weight: normal;
	font-size: 18px;
	color: #3e3e3e;
	margin-bottom: 40px;
}
