body {
	font-family: 'Poppins', sans-serif;
	margin: 0;
}
section {
	margin-top: 80px;
}
#top-margin {
	margin-top: 50px;
}
.header-left h1 {
	font-family: 'Yeseva One', cursive;
	font-weight: bold;
	font-style: normal;
	font-size: 60px;
	color: #333333;
	padding-left: 20px;
}
.header-border {
	border-left: 5px solid;
	border-image: linear-gradient(#a5d4ee, #13b8fb);
	border-image-slice: 1;
}
.header-left p {
	margin: 50px 0px;
	padding-right: 19%;
	line-height: 30px;
}
.header-left h4 {
	font-weight: normal;
	margin-top: 30px;
}
.btn-common {
	padding: 10px 40px;
	text-decoration: none;
	background-color: #f59560;
	color: #fff;
	border-radius: 5px;
	font-weight: bold;
}
.flexible-container {
	display: flex;
}
.half-width {
	width: 50%;
	margin-left: 7%;
}
.common-color {
	color: #f088d1 !important;
}
.header-right img {
	width: 80%;
}
.mission-area h1 {
	text-align: center;
	font-weight: bold;
	font-size: 48px;
}
.mission-area-box {
	width: 100%;
}
.mission-box {
	margin-left: 7%;
}
.mission-single-box {
	width: 26%;
	border-radius: 15px;
	margin-right: 3%;
	padding: 20px;
}
.mission-single-box p {
	font-weight: 200;
	font-size: 16px;
	line-height: 30px;
	color: #424242;
}
.mission-single-box img {
	width: 30%;
}
#box-bg-color1 {
	background: #a5d4ee61;
}
#box-bg-color2 {
	background: #14b9fc47;
}
#box-bg-color3 {
	background: #02f64226;
}
.develop-area {
	width: 100%;
	background: url(images/illustrators/shape-1.png);
	background-repeat: no-repeat;
	background-position: left;
	background-size: 30%;
}
.develop-area-left img {
	width: 80%;
}
.develop-area-right {
	margin-right: 7%;
	margin-top: 50px;
	margin-left: 0px !important;
}
.develop-area-right h1 {
	font-weight: bold;
	color: #333333;
	font-size: 36px;
	line-height: 28px;
}
.develop-area-right p {
	font-weight: normal;
	font-size: 18px;
	color: #3e3e3e;
	margin-bottom: 40px;
}
.our-community {
	background: url(images/illustrators/shape-1.png);
	background-position: right bottom;
	background-repeat: no-repeat;
	background-size: 30%;
	background-position-y: 200px;
}
.our-community-left {
	margin-top: 45px;
}
.our-community-left h1 {
	font-weight: bold;
	color: #333333;
	font-size: 36px;
	line-height: 28px;
}
.our-community-left p {
	font-weight: normal;
	font-size: 18px;
	color: #3e3e3e;
	margin-bottom: 40px;
}
.our-community-right img {
	width: 85%;
}
.expart-area #about {
	font-size: 48px;
	text-align: center;
	color: #333333;
}
#about-color {
	color: #f088d1;
}
progress {
	border: none;
	width: 500px;
	height: 5px;
	background: crimson;
}

progress {
	color: black;
}

progress::-webkit-progress-value {
	background: black;
}

progress::-moz-progress-bar {
	background: lightcolor;
}
.expart-area-left h1 {
	font-size: 36px;
	color: #333333;
	margin-top: 85px;
}
.expart-area-left p {
	margin-right: 8%;
	font-size: 16px;
	font-weight: normal;
	margin-bottom: 60px;
}
.expart-area-right h3 {
	padding: 0;
	margin: 0;
	margin-top: 26px;
}
.expart-area-right #web {
	margin-left: 313px;
}
.expart-area-right #web2 {
	margin-left: 388px;
}
.expart-area-right #web6 {
	margin-left: 381px;
}
.expart-area-right #web3 {
	margin-left: 257px;
}
.expart-area-right #web4 {
	margin-left: 302px;
}
.expart-area-right #web5 {
	margin-left: 291px;
}
.expart-area-right #web7 {
	margin-left: 384px;
}
.footer-area {
	background: #0b0d17;
}
.footer-area h1 {
	text-align: center;
	color: #fff;
	padding-top: 40px;
	font-size: 36px;
	font-family: 'Lobster', cursive;
	font-weight: normal;
}
.footer-area p {
	text-align: center;
	color: #fff;
	font-size: 14px;
	padding-bottom: 40px;
}
